{
  "openapi": "3.1.0",
  "info": {
    "title": "LegiScore Partner API",
    "version": "1.0.0",
    "description": "Programmatic access to LegiScore legal opinion reports and government record searches.\n\nAuthentication: send your `lsk_` key as `X-API-Key` (or `Authorization: Bearer lsk_...`).\nRate limits are per key. Exceeding one returns 429 with a `Retry-After` header.\n\nReports: presign + upload documents, POST /api/requests to create the case, then either poll `/api/cases/{case_id}/status` or receive a webhook. A case can pause for missing documents, document review, or risk acknowledgements; each pause has a matching resume endpoint.\n\nSearch is a separate product: its own credit balance, its own host (named as a `servers` entry on each search path), and a flat per-search price that the catalog endpoint states. Submit a search, then poll it until its status is `succeeded`, `failed` or `cancelled`."
  },
  "servers": [
    {
      "url": "https://opinion.legiscore.in",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "core",
      "description": "Uploads, credit balance and scenario reference data. Shared by every module."
    },
    {
      "name": "reports",
      "description": "Create a legal opinion case, follow it to completion, answer review pauses, fetch the report."
    },
    {
      "name": "search",
      "description": "Run a government record search and collect what the portal returns. Its own credit balance, and its own host."
    },
    {
      "name": "translate",
      "description": "Translate a document into another Indian language."
    },
    {
      "name": "extraction",
      "description": "Pull structured property details out of an uploaded document."
    },
    {
      "name": "webhooks",
      "description": "Manage your own delivery endpoints: list, create, update, delete, rotate secret."
    }
  ],
  "paths": {
    "/api/cases/{case_id}/acknowledgements": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getAcknowledgements",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Read the risk-acknowledgement pause",
        "description": "Read the title risks a case has raised, together with any decisions already recorded. Valid only while the case is paused at the acknowledgement checkpoint."
      }
    },
    "/api/cases/{case_id}/continue": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "continueCase",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContinueCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Answer the missing-documents pause",
        "description": "Resume a case paused for missing documents, either by supplying new document ids or by setting proceed_anyway so the report is produced and records the gap. Answering one pause can surface the next, so poll the status again afterwards rather than assuming the case is finished."
      }
    },
    "/api/cases/{case_id}/document-review": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getDocumentReview",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Read the document-analysis pause",
        "description": "Read the details extracted from your documents before the government-record searches run against them: document number, date, parties, survey number, house number. Valid only while the case is paused at the document-analysis checkpoint."
      }
    },
    "/api/cases/{case_id}/files": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "listCaseFiles",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kinds"
            },
            "description": "Optional comma-separated filter over uploaded, added_during_review, search_artifact and report_json. Omit it for everything."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List case files",
        "description": "Inventory every file a case produced: the documents you uploaded, anything added during a review pause, the search artefacts and the report itself. Each entry carries a short-lived signed download URL, so fetch what you need soon after listing rather than storing the URLs."
      }
    },
    "/api/cases/{case_id}/files/zip": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "downloadCaseFilesZip",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kinds"
            },
            "description": "Optional comma-separated filter over uploaded, added_during_review, search_artifact and report_json. Omit it for everything."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Download all case files as a ZIP",
        "description": "Stream every file on the case as a single ZIP, foldered by kind, optionally narrowed with the kinds filter. The response is binary, not JSON. Very large archives are refused rather than truncated."
      }
    },
    "/api/cases/{case_id}/missing-documents": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getMissingDocuments",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Read the missing-documents pause",
        "description": "Read the documents a case is waiting for. Valid only while the case is paused at the missing-documents checkpoint; asking at any other time returns 400 rather than an empty list, so dispatch on internal_status from getCaseStatus first."
      }
    },
    "/api/cases/{case_id}/missing-documents/{slot_index}/link": {
      "patch": {
        "tags": [
          "reports"
        ],
        "operationId": "linkDocumentsToMissingSlot",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "slot_index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Slot Index"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkDocumentsToSlotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Link documents to a missing-documents slot",
        "description": "Attach documents you have uploaded to one specific slot in the missing-documents list, so the case shows which requested document each upload satisfies. Optional: continueCase accepts the same document ids without slot detail. This one endpoint needs an extra permission on your key; a 403 here means asking us to grant it, not a bad request."
      }
    },
    "/api/cases/{case_id}/result": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getCaseResult",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResultResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get the final report",
        "description": "Return the completed report and property score for a case. While the case is still running this returns 409 with the current state rather than a partial report, so poll getCaseStatus and call this once the state is completed."
      }
    },
    "/api/cases/{case_id}/status": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getCaseStatus",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseStatusResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get case status",
        "description": "Poll a case. Returns a stable public state (queued, running, awaiting_review, completed, failed), a progress figure, a human-readable message and your own metadata echoed back. Built to be called often; every ten seconds is a sensible floor."
      }
    },
    "/api/cases/{case_id}/submit-acknowledgements": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "submitAcknowledgements",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitAcknowledgementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Answer the risk-acknowledgement pause",
        "description": "Record a decision against each risk and release the case for final report generation. This writes a legal acceptance record attributed to whoever's key made the call, so it should carry a person's decision rather than a default set in code. Send each item back whole with a decision added; dropping fields off the generated item loses information the report needs."
      }
    },
    "/api/cases/{case_id}/submit-document-review": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "submitDocumentReview",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitDocumentReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Answer the document-analysis pause",
        "description": "Accept the extracted details as they are, or send corrections as a list of field updates, then let the searches run. A wrong survey number here makes every downstream search wrong, so this is the cheapest place to fix one."
      }
    },
    "/api/requests": {
      "post": {
        "operationId": "createCase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "tags": [
          "reports"
        ],
        "summary": "Create a case",
        "description": "Open a new case over documents you have already uploaded. Requires documentIds and a propertyFocus object describing the property; every other field has a default resolved from your key. Each document id is checked to be yours before anything is charged. Returns the case_id you use for every later call. Supply an Idempotency-Key header and a repeat of the same request returns the first response rather than opening and charging a second case; the same key with a different body is rejected."
      }
    },
    "/api/scenarios": {
      "get": {
        "tags": [
          "core"
        ],
        "operationId": "listScenarios",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            },
            "description": "Optional. Narrow the list to one scenario category."
          },
          {
            "name": "state_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State Id"
            },
            "description": "Optional. Narrow the list to scenarios for one state, plus the ones that apply everywhere."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List scenarios",
        "description": "List the diligence scenarios your key may run, optionally filtered by category or state. A scenario is the template a case runs against: it decides which searches run, which fields are extracted and which template the report uses. Scenarios published for everyone and scenarios configured for your organisation both appear."
      }
    },
    "/api/v1/credits": {
      "get": {
        "tags": [
          "core"
        ],
        "operationId": "getCredits",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get your credit balance",
        "description": "Return the credit balances your key can draw on, and which one a new case would be charged to by default. The key itself determines the organisation; there is no account or tenant identifier to pass."
      }
    },
    "/api/v1/custom-field-configs": {
      "get": {
        "tags": [
          "core"
        ],
        "operationId": "listCustomFieldConfigs",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List custom field configurations",
        "description": "List the custom field schemas your key may attach to a new case through custom_field_schema_ids. The set is resolved from your key: your own, your organisation's, and any published for general use."
      }
    },
    "/api/v1/documents/{case_id}": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getCaseDocuments",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pdf",
              "title": "Format"
            },
            "description": "The format to return the report in."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Download a case document",
        "description": "Download the report for a case in the requested format. Ownership is enforced against your key: another organisation's case is reported as not found rather than as forbidden."
      }
    },
    "/api/v1/docx-translate": {
      "post": {
        "tags": [
          "translate"
        ],
        "operationId": "translateDocx",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_translate_docx_api_v1_docx_translate_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Translate a DOCX",
        "description": "Translate a DOCX file and return the translated DOCX directly in the response. Synchronous, for documents small enough to wait on; use submitTranslation for anything larger."
      }
    },
    "/api/v1/docx-translate/languages": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "listTranslationLanguages",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List translation languages",
        "description": "List the language codes translation accepts as a target."
      }
    },
    "/api/v1/extraction/property": {
      "post": {
        "tags": [
          "extraction"
        ],
        "operationId": "createPropertyExtraction",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_property_extraction_job_api_v1_extraction_property_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Create Property Extraction Job Api V1 Extraction Property Post"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Create a property extraction job",
        "description": "Upload one or more documents and get back a job id for asynchronous extraction of the property details they describe. Poll getPropertyExtraction for the result. Optionally pass a search schema so the result also carries values shaped ready to feed into a raw search."
      }
    },
    "/api/v1/extraction/property/{job_id}": {
      "get": {
        "tags": [
          "extraction"
        ],
        "operationId": "getPropertyExtraction",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Property Extraction Job Api V1 Extraction Property  Job Id  Get"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get a property extraction job",
        "description": "Poll a property extraction job. Returns its current state, the extracted result once it is done, or the error if it failed."
      }
    },
    "/api/v1/search": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitSearchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitSearchResponse"
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Payment Required"
          }
        },
        "operationId": "submitSearch",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Submit a search",
        "description": "Run one government record search, or up to 25 in one call. Send state, search_type and the params that pair needs, or a searches array of the same fields with an optional label per item. Returns 202 with the accepted searches, each carrying the id you poll, plus rejected for any item that failed validation, credits_charged for the run and a batch_id when more than one search was accepted. A batch runs the items that validated rather than failing as a whole. Search credits are a separate balance from the report credits getCredits returns: they are priced flat per search at the rate getSearchCatalog states, charged when a search is accepted, and returned if the source cannot be reached. Too few of them returns 402 with the code insufficient_credits. An identical search already run on your account within the last 24 hours is answered from that result instead of the source, and replayed counts how many were."
      },
      "get": {
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "title": "Limit"
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SearchStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            },
            "description": "Optional. Narrow the list to one status."
          },
          {
            "name": "batch_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Batch Id"
            },
            "description": "Optional. Narrow the list to the searches one submitSearch call started."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchListResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "operationId": "listSearches",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List your searches",
        "description": "List the searches on your account, newest first, with limit and offset paging and optional filters on status and batch_id. Each entry is the same shape getSearch returns, and anything still in flight is refreshed on the way past, so listing doubles as polling. Returns the page plus the total count."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/assist": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SearchAssistForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAssistResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Payment Required"
          }
        },
        "operationId": "assistSearch",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Propose search parameters from a document",
        "description": "Read a document and propose the parameters for a search, without running one. Send multipart/form-data with a file (PDF, PNG, JPEG or WebP, under 20 MB) or a text field, plus the state. Returns the extracted fields, each with a confidence, and needs_review when any of them is low. It deliberately never submits: a wrong survey number does not fail loudly, it searches a different property and returns a confident, wrong result, so a person confirms first. Priced separately at the rate getSearchCatalog states, and a document nothing could be read from costs nothing."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/catalog": {
      "get": {
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            },
            "description": "Optional. Narrow the catalog to one state."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCatalogResponse"
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "operationId": "getSearchCatalog",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get the search catalog",
        "description": "Return everything that can be searched: the states that are live, every search type within them, the fields each one takes and which are required, what a result yields, how long it usually takes and the current price per search. It also reports whether the government source is reachable right now. This call needs no key, so it is the reference you build a search form or a parameter mapping from before you have one."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/credits": {
      "get": {
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "title": "Limit"
            },
            "description": "How many ledger movements to return with the balance."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCreditsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "operationId": "getSearchCredits",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get your search credit balance",
        "description": "Return your search credit balance, how much of it is currently spendable, whether it is personal or your organisation's, the current prices and the most recent movements against it. This balance is separate from the report credits getCredits returns, so a run of searches can never spend the credits bought to produce legal opinion reports."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/lookups": {
      "get": {
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "andhra",
              "title": "State"
            },
            "description": "Which state's lookups to read."
          },
          {
            "name": "dim",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dim"
            },
            "description": "The dimension to resolve, as getSearchCatalog names it on the field: district, mandal, village, sro and the rest."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            },
            "description": "Optional. Narrow the options by name."
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "District"
            },
            "description": "The district already chosen. Required for any dimension nested under one."
          },
          {
            "name": "mandal",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Mandal"
            },
            "description": "The mandal already chosen. Required for any dimension nested under one."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 500,
              "title": "Limit"
            },
            "description": "How many options to return."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchLookupsResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "operationId": "getSearchLookups",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Resolve a lookup to its codes",
        "description": "Resolve names to the codes a search parameter needs, one dimension at a time: districts, mandals, villages, sub-registrar offices and the rest. Pass dim, plus the district or mandal already chosen where the dimension is nested, and q to narrow by name. Returns the matching options, each with the codes to send in params. getSearchCatalog names the dimension every lookup field uses."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/{search_id}": {
      "get": {
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Search Id"
            },
            "description": "The id submitSearch returned for this search."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "operationId": "getSearch",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get one search",
        "description": "Poll one search. Returns its status (queued, running, awaiting_otp, succeeded, failed or cancelled), a progress figure, and once it settles the found verdict, the extracted records and the documents the source issued. A succeeded search with found false means the source was reached and had nothing on record against the property, which is a result rather than a failure. credits_charged and refunded say what this search actually cost."
      },
      "delete": {
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Search Id"
            },
            "description": "The id submitSearch returned for this search."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelSearchResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Conflict"
          }
        },
        "operationId": "cancelSearch",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Cancel a search",
        "description": "Ask a search that is still in flight to stop. Returns the search as it stands, with cancelling true; the settled status arrives on a later poll, and the credits are returned if it never completed. A search that has already succeeded, failed or been cancelled returns 409 rather than being cancelled twice."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/{search_id}/documents/{filename}": {
      "get": {
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Search Id"
            },
            "description": "The id of the search that produced the file."
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Filename"
            },
            "description": "The filename exactly as getSearch reports it under documents. Anything else is not found."
          }
        ],
        "responses": {
          "302": {
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "description": "Found"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "operationId": "getSearchDocument",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Download a document from a search",
        "description": "Download one of the files a search produced, named by the filename getSearch reports under documents. The API answers with a redirect to a signed URL that expires in an hour; the SDK follows it for you on a connection that carries no API key, and hands you the bytes. The response is binary, not JSON. The file is looked up in the search's own document list rather than from the path, so a filename that is not on this search is reported as not found, and one that belongs to another account is reported the same way."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/{search_id}/otp": {
      "post": {
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Search Id"
            },
            "description": "The id of the search whose status is awaiting_otp."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitSearchOtpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchOtpResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Conflict"
          }
        },
        "operationId": "submitSearchOtp",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Supply a one-time password",
        "description": "Hand a one-time password to a search whose status is awaiting_otp, as 4 to 8 digits in otp. Returns accepted true once it has been passed on. A search in any other status returns 409. Most searches never reach this state; it exists for the case where the source sends its code to a number you hold."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/search/{search_id}/recover": {
      "post": {
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Search Id"
            },
            "description": "The id of a search that has already succeeded or failed."
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoverSearchResponse"
                }
              }
            },
            "description": "Accepted"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoverSearchResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Conflict"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "operationId": "recoverSearch",
        "tags": [
          "search"
        ],
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Recover an incomplete search",
        "description": "Re-run a finished search against related identifiers, for when the first attempt came back with less than expected. Takes no body: it reads what did come back and works out what else is worth asking. Returns 202 with the additional searches it started and the reasoning behind them. Priced separately from a plain search, at the rate getSearchCatalog states, and nothing is charged when the source is unreachable or when the analysis finds nothing defensible to try. Only a search that has succeeded or failed can be recovered, and a recovery run cannot itself be recovered."
      },
      "servers": [
        {
          "url": "https://legiscore.in"
        }
      ]
    },
    "/api/v1/translate/download/{session_id}": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "downloadTranslation",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Download a translation",
        "description": "Return a short-lived signed URL for the translated document. Fetch it promptly rather than storing the URL."
      }
    },
    "/api/v1/translate/history": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "listTranslations",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Limit"
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationHistoryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List translations",
        "description": "List your translation sessions, newest first, with limit and offset paging."
      }
    },
    "/api/v1/translate/status/{session_id}": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "getTranslationStatus",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationStatusResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get translation status",
        "description": "Poll a translation session. Returns pages completed against pages total, the session state and any error message."
      }
    },
    "/api/v1/translate/submit": {
      "post": {
        "tags": [
          "translate"
        ],
        "operationId": "submitTranslation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_submit_translation_api_v1_translate_submit_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationSubmitResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Submit a document for translation",
        "description": "Upload a PDF for asynchronous translation and return a session id. Credits are deducted per page at submission. Poll getTranslationStatus, then downloadTranslation once it reports complete."
      }
    },
    "/api/v1/uploads/complete": {
      "post": {
        "tags": [
          "core"
        ],
        "operationId": "completeUpload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Complete an upload",
        "description": "Confirm that the PUT finished and register the file, using the objectName that presignUpload returned. Returns the document_id you pass to createCase. Call it only after the PUT has returned 200; calling it early is rejected. An Idempotency-Key header is honoured, so a retried call after a lost response returns the first result instead of registering the file twice."
      }
    },
    "/api/v1/uploads/presign": {
      "post": {
        "tags": [
          "core"
        ],
        "operationId": "presignUpload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresignUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Presign an upload",
        "description": "Ask for a short-lived signed URL to upload one file straight to object storage. Send the file name, its byte size and its content type; you get back the URL to PUT the bytes to and an objectName to pass to completeUpload once the PUT returns 200. The content type must be one we accept and the size must be within the per-file limit, both of which are checked here rather than on the PUT."
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List webhooks",
        "description": "List the delivery endpoints registered against your key, with their events and whether each is active. Secrets are never returned here."
      },
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Create a webhook",
        "description": "Register a delivery endpoint and the events it should receive. The signing secret is returned exactly once, in this response, and can never be read back: store it as you receive it. Deliveries are signed with it, and your handler should verify every one."
      }
    },
    "/api/v1/webhooks/{webhook_id}": {
      "patch": {
        "tags": [
          "webhooks"
        ],
        "operationId": "updateWebhook",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Update a webhook",
        "description": "Change the name, URL, event list, custom headers or active flag of one of your webhooks. Fields you omit are left as they are. Changing the URL does not change the signing secret."
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "operationId": "deleteWebhook",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Delete a webhook",
        "description": "Remove one of your webhooks. Deliveries stop immediately and the signing secret is gone with it."
      }
    },
    "/api/v1/webhooks/{webhook_id}/rotate-secret": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "rotateWebhookSecret",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Rotate a webhook secret",
        "description": "Issue a new signing secret for one of your webhooks. The new secret is returned exactly once and the old one stops verifying at once, so deploy the new secret to your handler in the same change."
      }
    }
  },
  "components": {
    "schemas": {
      "Body_create_property_extraction_job_api_v1_extraction_property_post": {
        "properties": {
          "files": {
            "items": {
              "type": "string",
              "format": "binary"
            },
            "type": "array",
            "title": "Files"
          },
          "state_id": {
            "type": "integer",
            "title": "State Id",
            "default": 2
          },
          "state_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State Name"
          },
          "additional_context": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additional Context"
          },
          "available_checks": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Available Checks"
          },
          "unified_search_schema": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unified Search Schema"
          }
        },
        "type": "object",
        "required": [
          "files"
        ],
        "title": "Body_create_property_extraction_job_api_v1_extraction_property_post"
      },
      "Body_submit_translation_api_v1_translate_submit_post": {
        "properties": {
          "pdf": {
            "type": "string",
            "format": "binary",
            "title": "Pdf"
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "The user this translation is filed under. Required by the endpoint and validated against your key: a value outside your key's organisation is rejected."
          },
          "billing_name": {
            "type": "string",
            "title": "Billing Name",
            "default": ""
          },
          "billing_phone": {
            "type": "string",
            "title": "Billing Phone",
            "default": ""
          },
          "billing_email": {
            "type": "string",
            "title": "Billing Email"
          },
          "payment_order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Order Id"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages",
            "description": "Page count of the PDF. Credits are charged per page."
          },
          "credit_source": {
            "type": "string",
            "title": "Credit Source",
            "default": "personal"
          },
          "credit_source_org_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Org Id",
            "description": "Optional. Charge this translation to a specific organisation's credit pool. The server validates that your key is entitled to that pool."
          },
          "credit_source_branch_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Branch Id",
            "description": "Optional. Charge this translation to a specific branch's credit pool. The server validates the branch against your key."
          }
        },
        "type": "object",
        "required": [
          "pdf",
          "user_id",
          "total_pages"
        ],
        "title": "Body_submit_translation_api_v1_translate_submit_post"
      },
      "Body_translate_docx_api_v1_docx_translate_post": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File",
            "description": "The DOCX file to translate."
          },
          "target_lang": {
            "type": "string",
            "title": "Target Lang",
            "description": "Target language code, for example 'hi' or 'te'."
          },
          "backend": {
            "type": "string",
            "title": "Backend",
            "default": "auto",
            "description": "Which translation engine to use. Leave it on 'auto' unless we have told you otherwise for your account."
          }
        },
        "type": "object",
        "required": [
          "file",
          "target_lang"
        ],
        "title": "Body_translate_docx_api_v1_docx_translate_post"
      },
      "CancelSearchResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "search",
              "cancelling"
            ],
            "properties": {
              "search": {
                "$ref": "#/components/schemas/Search"
              },
              "cancelling": {
                "type": "boolean",
                "title": "Cancelling"
              }
            },
            "title": "Data"
          }
        },
        "title": "Cancel Search Response"
      },
      "CaseResultResponse": {
        "properties": {
          "case_id": {
            "type": "string",
            "title": "Case Id"
          },
          "state": {
            "$ref": "#/components/schemas/PublicCaseState",
            "default": "completed"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "report": {
            "additionalProperties": true,
            "type": "object",
            "title": "Report",
            "default": {}
          },
          "property_score": {
            "additionalProperties": true,
            "type": "object",
            "title": "Property Score",
            "default": {}
          },
          "report_generated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Report Generated At"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata"
          }
        },
        "type": "object",
        "required": [
          "case_id"
        ],
        "title": "CaseResultResponse"
      },
      "CaseStatusResponse": {
        "properties": {
          "case_id": {
            "type": "string",
            "title": "Case Id"
          },
          "state": {
            "$ref": "#/components/schemas/PublicCaseState"
          },
          "internal_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Internal Status",
            "description": "A finer-grained status behind the public state. When state is awaiting_review, this is what tells you which pause the case is at, so you can call the matching read endpoint: awaiting_document_review, awaiting_documents or awaiting_acknowledgements. Treat any value you do not recognise as 'keep waiting'."
          },
          "progress": {
            "type": "integer",
            "title": "Progress",
            "default": 0
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata"
          }
        },
        "type": "object",
        "required": [
          "case_id",
          "state"
        ],
        "title": "CaseStatusResponse"
      },
      "CompleteUploadRequest": {
        "properties": {
          "objectName": {
            "type": "string",
            "title": "Objectname",
            "description": "The objectName presignUpload returned for this file. It identifies the upload; do not construct one yourself."
          },
          "fileName": {
            "type": "string",
            "title": "Filename"
          },
          "fileSize": {
            "type": "integer",
            "title": "Filesize"
          },
          "contentType": {
            "type": "string",
            "title": "Contenttype"
          },
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true
          },
          "content_hash": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content Hash"
          },
          "page_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Page Count"
          }
        },
        "type": "object",
        "required": [
          "objectName",
          "fileName",
          "fileSize",
          "contentType"
        ],
        "title": "CompleteUploadRequest"
      },
      "ContinueCaseRequest": {
        "properties": {
          "new_document_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "New Document Ids",
            "default": []
          },
          "proceed_anyway": {
            "type": "boolean",
            "title": "Proceed Anyway",
            "default": false
          },
          "document_annotations": {
            "items": {
              "$ref": "#/components/schemas/DocumentAnnotation"
            },
            "type": "array",
            "title": "Document Annotations",
            "default": []
          },
          "split_document_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Split Document Ids",
            "default": []
          }
        },
        "type": "object",
        "title": "ContinueCaseRequest"
      },
      "CreateCaseRequest": {
        "properties": {
          "purpose": {
            "type": "string",
            "title": "Purpose",
            "default": ""
          },
          "propertyFocus": {
            "additionalProperties": true,
            "type": "object",
            "title": "Propertyfocus",
            "description": "The property the case is about. An object, not a string: at minimum a property type, the state and a free-form property_details bag holding survey number, village, district, house number and anything else the state's portals need."
          },
          "processingType": {
            "type": "string",
            "title": "Processingtype",
            "default": "legal_opinion"
          },
          "documentIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Documentids",
            "description": "Document ids from completeUpload. Always an array, even for one document. Each is checked to belong to your key before anything is charged."
          },
          "enableMissingDocumentReview": {
            "type": "boolean",
            "title": "Enablemissingdocumentreview",
            "default": true
          },
          "enableAcknowledgementReview": {
            "type": "boolean",
            "title": "Enableacknowledgementreview",
            "default": true
          },
          "enableDocumentAnalysisReview": {
            "type": "boolean",
            "title": "Enabledocumentanalysisreview",
            "default": true
          },
          "enableAnomalyReview": {
            "type": "boolean",
            "title": "Enableanomalyreview",
            "default": true
          },
          "scenario_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scenario Code"
          },
          "scenario_instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scenario Instructions"
          },
          "case_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Case Name"
          },
          "special_upload_assignments": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Special Upload Assignments"
          },
          "split_document_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Split Document Ids"
          },
          "payment_order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Order Id"
          },
          "credit_source": {
            "type": "string",
            "title": "Credit Source",
            "default": "personal"
          },
          "credit_source_org_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Org Id",
            "description": "Optional. Charge this case to a specific organisation's credit pool instead of the default your key resolves to. The server validates that your key is entitled to that pool; omit it and the right pool is chosen for you."
          },
          "credit_source_branch_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Branch Id",
            "description": "Optional. Charge this case to a specific branch's credit pool. The server validates the branch against your key; omit it and the right pool is chosen for you."
          },
          "vault_property_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vault Property Id",
            "description": "Optional. Attach the case to a property record you already hold with us. The server validates that the record belongs to your key's organisation."
          },
          "recipient_contacts": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Recipient Contacts"
          },
          "custom_field_schema_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Field Schema Ids"
          },
          "custom_field_value_seed": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Field Value Seed"
          },
          "missing_document_seeds": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Missing Document Seeds"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Your own correlation blob. Stored verbatim and echoed back on status, result and every webhook. Put your reference ids here rather than trying to encode them in other fields."
          },
          "template_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Id",
            "description": "Optional. Render the report with a specific document template. The server validates the template against your key's organisation; omit it and the scenario's template is used."
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Project Id",
            "description": "Optional. File the case under one of your projects. The server validates the project against your key's organisation."
          }
        },
        "type": "object",
        "required": [
          "propertyFocus",
          "documentIds"
        ],
        "title": "CreateCaseRequest"
      },
      "DocumentAnnotation": {
        "properties": {
          "document_type": {
            "type": "string",
            "title": "Document Type"
          },
          "document_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Number"
          },
          "ignored": {
            "type": "boolean",
            "title": "Ignored",
            "default": false
          },
          "instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Instructions"
          },
          "slot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slot Id"
          }
        },
        "type": "object",
        "required": [
          "document_type"
        ],
        "title": "DocumentAnnotation"
      },
      "DocumentFieldUpdate": {
        "properties": {
          "document_id": {
            "type": "string",
            "title": "Document Id"
          },
          "field_name": {
            "type": "string",
            "title": "Field Name"
          },
          "new_value": {
            "title": "New Value"
          }
        },
        "type": "object",
        "required": [
          "document_id",
          "field_name",
          "new_value"
        ],
        "title": "DocumentFieldUpdate"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LinkDocumentsToSlotRequest": {
        "properties": {
          "document_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Document Ids"
          },
          "slot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slot Id"
          }
        },
        "type": "object",
        "required": [
          "document_ids"
        ],
        "title": "LinkDocumentsToSlotRequest"
      },
      "PresignUploadRequest": {
        "properties": {
          "fileName": {
            "type": "string",
            "title": "Filename"
          },
          "fileSize": {
            "type": "integer",
            "title": "Filesize"
          },
          "contentType": {
            "type": "string",
            "title": "Contenttype",
            "description": "The exact content type you will send on the PUT. It must match, and it must be one of the types we accept."
          }
        },
        "type": "object",
        "required": [
          "fileName",
          "fileSize",
          "contentType"
        ],
        "title": "PresignUploadRequest"
      },
      "PublicCaseState": {
        "type": "string",
        "enum": [
          "queued",
          "running",
          "awaiting_review",
          "completed",
          "failed"
        ],
        "title": "PublicCaseState"
      },
      "RecoverSearchResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "recovered",
              "credits_charged"
            ],
            "properties": {
              "recovered": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Search"
                },
                "title": "Recovered"
              },
              "reasoning": {
                "anyOf": [
                  {
                    "type": "string"
                  },
[...]
