{
  "openapi": "3.1.0",
  "info": {
    "title": "LegiScore Partner API",
    "version": "1.0.0",
    "description": "Programmatic access to LegiScore title search and legal opinion reports.\n\nAuthentication: send your `lsk_` key as `X-API-Key` (or `Authorization: Bearer lsk_...`).\nRate limits are per key. Exceeding one returns 429 with a `Retry-After` header.\n\nTypical flow: presign + upload documents, POST /api/requests to create the case, then either poll `/api/cases/{case_id}/status` or receive a webhook. A case can pause for missing documents, document review, or risk acknowledgements; each pause has a matching resume endpoint."
  },
  "servers": [
    {
      "url": "https://opinion.legiscore.in",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "core",
      "description": "Uploads, credit balance and scenario reference data. Shared by every module."
    },
    {
      "name": "reports",
      "description": "Create a legal opinion case, follow it to completion, answer review pauses, fetch the report."
    },
    {
      "name": "search",
      "description": "Raw search across the state land-record portals."
    },
    {
      "name": "translate",
      "description": "Translate a document into another Indian language."
    },
    {
      "name": "extraction",
      "description": "Pull structured property details out of an uploaded document."
    },
    {
      "name": "webhooks",
      "description": "Manage your own delivery endpoints: list, create, update, delete, rotate secret."
    }
  ],
  "paths": {
    "/api/cases/{case_id}/acknowledgements": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getAcknowledgements",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Read the risk-acknowledgement pause",
        "description": "Read the title risks a case has raised, together with any decisions already recorded. Valid only while the case is paused at the acknowledgement checkpoint."
      }
    },
    "/api/cases/{case_id}/continue": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "continueCase",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContinueCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Answer the missing-documents pause",
        "description": "Resume a case paused for missing documents, either by supplying new document ids or by setting proceed_anyway so the report is produced and records the gap. Answering one pause can surface the next, so poll the status again afterwards rather than assuming the case is finished."
      }
    },
    "/api/cases/{case_id}/document-review": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getDocumentReview",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Read the document-analysis pause",
        "description": "Read the details extracted from your documents before the government-record searches run against them: document number, date, parties, survey number, house number. Valid only while the case is paused at the document-analysis checkpoint."
      }
    },
    "/api/cases/{case_id}/files": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "listCaseFiles",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kinds"
            },
            "description": "Optional comma-separated filter over uploaded, added_during_review, search_artifact and report_json. Omit it for everything."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List case files",
        "description": "Inventory every file a case produced: the documents you uploaded, anything added during a review pause, the search artefacts and the report itself. Each entry carries a short-lived signed download URL, so fetch what you need soon after listing rather than storing the URLs."
      }
    },
    "/api/cases/{case_id}/files/zip": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "downloadCaseFilesZip",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kinds"
            },
            "description": "Optional comma-separated filter over uploaded, added_during_review, search_artifact and report_json. Omit it for everything."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Download all case files as a ZIP",
        "description": "Stream every file on the case as a single ZIP, foldered by kind, optionally narrowed with the kinds filter. The response is binary, not JSON. Very large archives are refused rather than truncated."
      }
    },
    "/api/cases/{case_id}/missing-documents": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getMissingDocuments",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Read the missing-documents pause",
        "description": "Read the documents a case is waiting for. Valid only while the case is paused at the missing-documents checkpoint; asking at any other time returns 400 rather than an empty list, so dispatch on internal_status from getCaseStatus first."
      }
    },
    "/api/cases/{case_id}/missing-documents/{slot_index}/link": {
      "patch": {
        "tags": [
          "reports"
        ],
        "operationId": "linkDocumentsToMissingSlot",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "slot_index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Slot Index"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkDocumentsToSlotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Link documents to a missing-documents slot",
        "description": "Attach documents you have uploaded to one specific slot in the missing-documents list, so the case shows which requested document each upload satisfies. Optional: continueCase accepts the same document ids without slot detail. This one endpoint needs an extra permission on your key; a 403 here means asking us to grant it, not a bad request."
      }
    },
    "/api/cases/{case_id}/result": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getCaseResult",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResultResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get the final report",
        "description": "Return the completed report and property score for a case. While the case is still running this returns 409 with the current state rather than a partial report, so poll getCaseStatus and call this once the state is completed."
      }
    },
    "/api/cases/{case_id}/status": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getCaseStatus",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseStatusResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get case status",
        "description": "Poll a case. Returns a stable public state (queued, running, awaiting_review, completed, failed), a progress figure, a human-readable message and your own metadata echoed back. Built to be called often; every ten seconds is a sensible floor."
      }
    },
    "/api/cases/{case_id}/submit-acknowledgements": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "submitAcknowledgements",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitAcknowledgementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Answer the risk-acknowledgement pause",
        "description": "Record a decision against each risk and release the case for final report generation. This writes a legal acceptance record attributed to whoever's key made the call, so it should carry a person's decision rather than a default set in code. Send each item back whole with a decision added; dropping fields off the generated item loses information the report needs."
      }
    },
    "/api/cases/{case_id}/submit-document-review": {
      "post": {
        "tags": [
          "reports"
        ],
        "operationId": "submitDocumentReview",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitDocumentReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Answer the document-analysis pause",
        "description": "Accept the extracted details as they are, or send corrections as a list of field updates, then let the searches run. A wrong survey number here makes every downstream search wrong, so this is the cheapest place to fix one."
      }
    },
    "/api/requests": {
      "post": {
        "operationId": "createCase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "tags": [
          "reports"
        ],
        "summary": "Create a case",
        "description": "Open a new case over documents you have already uploaded. Requires documentIds and a propertyFocus object describing the property; every other field has a default resolved from your key. Each document id is checked to be yours before anything is charged. Returns the case_id you use for every later call. Supply an Idempotency-Key header and a repeat of the same request returns the first response rather than opening and charging a second case; the same key with a different body is rejected."
      }
    },
    "/api/scenarios": {
      "get": {
        "tags": [
          "core"
        ],
        "operationId": "listScenarios",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            },
            "description": "Optional. Narrow the list to one scenario category."
          },
          {
            "name": "state_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State Id"
            },
            "description": "Optional. Narrow the list to scenarios for one state, plus the ones that apply everywhere."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List scenarios",
        "description": "List the diligence scenarios your key may run, optionally filtered by category or state. A scenario is the template a case runs against: it decides which searches run, which fields are extracted and which template the report uses. Scenarios published for everyone and scenarios configured for your organisation both appear."
      }
    },
    "/api/v1/credits": {
      "get": {
        "tags": [
          "core"
        ],
        "operationId": "getCredits",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get your credit balance",
        "description": "Return the credit balances your key can draw on, and which one a new case would be charged to by default. The key itself determines the organisation; there is no account or tenant identifier to pass."
      }
    },
    "/api/v1/custom-field-configs": {
      "get": {
        "tags": [
          "core"
        ],
        "operationId": "listCustomFieldConfigs",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List custom field configurations",
        "description": "List the custom field schemas your key may attach to a new case through custom_field_schema_ids. The set is resolved from your key: your own, your organisation's, and any published for general use."
      }
    },
    "/api/v1/documents/{case_id}": {
      "get": {
        "tags": [
          "reports"
        ],
        "operationId": "getCaseDocuments",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Case Id"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "pdf",
              "title": "Format"
            },
            "description": "The format to return the report in."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Download a case document",
        "description": "Download the report for a case in the requested format. Ownership is enforced against your key: another organisation's case is reported as not found rather than as forbidden."
      }
    },
    "/api/v1/docx-translate": {
      "post": {
        "tags": [
          "translate"
        ],
        "operationId": "translateDocx",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_translate_docx_api_v1_docx_translate_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Translate a DOCX",
        "description": "Translate a DOCX file and return the translated DOCX directly in the response. Synchronous, for documents small enough to wait on; use submitTranslation for anything larger."
      }
    },
    "/api/v1/docx-translate/languages": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "listTranslationLanguages",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List translation languages",
        "description": "List the language codes translation accepts as a target."
      }
    },
    "/api/v1/extraction/property": {
      "post": {
        "tags": [
          "extraction"
        ],
        "operationId": "createPropertyExtraction",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_property_extraction_job_api_v1_extraction_property_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Create Property Extraction Job Api V1 Extraction Property Post"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Create a property extraction job",
        "description": "Upload one or more documents and get back a job id for asynchronous extraction of the property details they describe. Poll getPropertyExtraction for the result. Optionally pass a search schema so the result also carries values shaped ready to feed into a raw search."
      }
    },
    "/api/v1/extraction/property/{job_id}": {
      "get": {
        "tags": [
          "extraction"
        ],
        "operationId": "getPropertyExtraction",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Property Extraction Job Api V1 Extraction Property  Job Id  Get"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get a property extraction job",
        "description": "Poll a property extraction job. Returns its current state, the extracted result once it is done, or the error if it failed."
      }
    },
    "/api/v1/raw-search/catalog": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "getSearchCatalog",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get the search catalog",
        "description": "Return the full catalog of searches: every state, the search types available in it, and the input schema each one accepts. This is the reference you build a search form or a parameter mapping from."
      }
    },
    "/api/v1/raw-search/history": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "listRawSearches",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Limit"
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Search Type"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Extras"
            },
            "description": "Set true to also get the parameters each search ran with and a summary of its result. Off by default, which keeps the list small."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List raw searches",
        "description": "List your recent raw searches, newest first, with optional filters on state, search type and status. Set include_extras to also get the parameters each search ran with and a summary of its result."
      }
    },
    "/api/v1/raw-search/lookups": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "listLookupDimensions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List lookup dimensions",
        "description": "List the (state, dimension) pairs that have a lookup table behind them, for example districts or sub-registrar offices. Use it to discover what getLookupValues can be asked for."
      }
    },
    "/api/v1/raw-search/lookups/{state}/{dimension}": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "getLookupValues",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "State"
            }
          },
          {
            "name": "dimension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dimension"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get lookup values",
        "description": "Return the valid values for one lookup dimension in one state, so a search parameter can be picked from a list instead of typed."
      }
    },
    "/api/v1/raw-search/states": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "listSearchStates",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List searchable states",
        "description": "List the states raw search currently covers, as the slugs the other search calls expect."
      }
    },
    "/api/v1/raw-search/status/{job_id}": {
      "get": {
        "tags": [
          "search"
        ],
        "operationId": "getRawSearchStatus",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Get raw search status",
        "description": "Poll a raw search job. Returns its state and, once finished, the extracted result plus freshly signed URLs for any documents the portal returned."
      }
    },
    "/api/v1/raw-search/submit": {
      "post": {
        "tags": [
          "search"
        ],
        "operationId": "submitRawSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnifiedRawSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Submit a raw search",
        "description": "Queue one search against one state portal and return a job id immediately. Takes the state slug, the search type slug and the parameters that search needs; use getSearchCatalog to discover which parameters a given state and search type accept. Poll getRawSearchStatus for the outcome."
      }
    },
    "/api/v1/translate/download/{session_id}": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "downloadTranslation",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Download a translation",
        "description": "Return a short-lived signed URL for the translated document. Fetch it promptly rather than storing the URL."
      }
    },
    "/api/v1/translate/history": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "listTranslations",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "title": "Limit"
            },
            "description": "Page size."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            },
            "description": "Page offset."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationHistoryResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "List translations",
        "description": "List your translation sessions, newest first, with limit and offset paging."
      }
    },
    "/api/v1/translate/status/{session_id}": {
      "get": {
        "tags": [
          "translate"
        ],
        "operationId": "getTranslationStatus",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Session Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationStatusResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Get translation status",
        "description": "Poll a translation session. Returns pages completed against pages total, the session state and any error message."
      }
    },
    "/api/v1/translate/submit": {
      "post": {
        "tags": [
          "translate"
        ],
        "operationId": "submitTranslation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_submit_translation_api_v1_translate_submit_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationSubmitResponse"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Submit a document for translation",
        "description": "Upload a PDF for asynchronous translation and return a session id. Credits are deducted per page at submission. Poll getTranslationStatus, then downloadTranslation once it reports complete."
      }
    },
    "/api/v1/uploads/complete": {
      "post": {
        "tags": [
          "core"
        ],
        "operationId": "completeUpload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Complete an upload",
        "description": "Confirm that the PUT finished and register the file, using the objectName that presignUpload returned. Returns the document_id you pass to createCase. Call it only after the PUT has returned 200; calling it early is rejected. An Idempotency-Key header is honoured, so a retried call after a lost response returns the first result instead of registering the file twice."
      }
    },
    "/api/v1/uploads/presign": {
      "post": {
        "tags": [
          "core"
        ],
        "operationId": "presignUpload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresignUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Presign an upload",
        "description": "Ask for a short-lived signed URL to upload one file straight to object storage. Send the file name, its byte size and its content type; you get back the URL to PUT the bytes to and an objectName to pass to completeUpload once the PUT returns 200. The content type must be one we accept and the size must be within the per-file limit, both of which are checked here rather than on the PUT."
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "List webhooks",
        "description": "List the delivery endpoints registered against your key, with their events and whether each is active. Secrets are never returned here."
      },
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "summary": "Create a webhook",
        "description": "Register a delivery endpoint and the events it should receive. The signing secret is returned exactly once, in this response, and can never be read back: store it as you receive it. Deliveries are signed with it, and your handler should verify every one."
      }
    },
    "/api/v1/webhooks/{webhook_id}": {
      "patch": {
        "tags": [
          "webhooks"
        ],
        "operationId": "updateWebhook",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Update a webhook",
        "description": "Change the name, URL, event list, custom headers or active flag of one of your webhooks. Fields you omit are left as they are. Changing the URL does not change the signing secret."
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "operationId": "deleteWebhook",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Delete a webhook",
        "description": "Remove one of your webhooks. Deliveries stop immediately and the signing secret is gone with it."
      }
    },
    "/api/v1/webhooks/{webhook_id}/rotate-secret": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "operationId": "rotateWebhookSecret",
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          }
        },
        "summary": "Rotate a webhook secret",
        "description": "Issue a new signing secret for one of your webhooks. The new secret is returned exactly once and the old one stops verifying at once, so deploy the new secret to your handler in the same change."
      }
    }
  },
  "components": {
    "schemas": {
      "Body_create_property_extraction_job_api_v1_extraction_property_post": {
        "properties": {
          "files": {
            "items": {
              "type": "string",
              "format": "binary"
            },
            "type": "array",
            "title": "Files"
          },
          "state_id": {
            "type": "integer",
            "title": "State Id",
            "default": 2
          },
          "state_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State Name"
          },
          "additional_context": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Additional Context"
          },
          "available_checks": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Available Checks"
          },
          "unified_search_schema": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Unified Search Schema"
          }
        },
        "type": "object",
        "required": [
          "files"
        ],
        "title": "Body_create_property_extraction_job_api_v1_extraction_property_post"
      },
      "Body_submit_translation_api_v1_translate_submit_post": {
        "properties": {
          "pdf": {
            "type": "string",
            "format": "binary",
            "title": "Pdf"
          },
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "The user this translation is filed under. Required by the endpoint and validated against your key: a value outside your key's organisation is rejected."
          },
          "billing_name": {
            "type": "string",
            "title": "Billing Name",
            "default": ""
          },
          "billing_phone": {
            "type": "string",
            "title": "Billing Phone",
            "default": ""
          },
          "billing_email": {
            "type": "string",
            "title": "Billing Email"
          },
          "payment_order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Order Id"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages",
            "description": "Page count of the PDF. Credits are charged per page."
          },
          "credit_source": {
            "type": "string",
            "title": "Credit Source",
            "default": "personal"
          },
          "credit_source_org_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Org Id",
            "description": "Optional. Charge this translation to a specific organisation's credit pool. The server validates that your key is entitled to that pool."
          },
          "credit_source_branch_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Branch Id",
            "description": "Optional. Charge this translation to a specific branch's credit pool. The server validates the branch against your key."
          }
        },
        "type": "object",
        "required": [
          "pdf",
          "user_id",
          "total_pages"
        ],
        "title": "Body_submit_translation_api_v1_translate_submit_post"
      },
      "Body_translate_docx_api_v1_docx_translate_post": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File",
            "description": "The DOCX file to translate."
          },
          "target_lang": {
            "type": "string",
            "title": "Target Lang",
            "description": "Target language code, for example 'hi' or 'te'."
          },
          "backend": {
            "type": "string",
            "title": "Backend",
            "default": "auto",
            "description": "Which translation engine to use. Leave it on 'auto' unless we have told you otherwise for your account."
          }
        },
        "type": "object",
        "required": [
          "file",
          "target_lang"
        ],
        "title": "Body_translate_docx_api_v1_docx_translate_post"
      },
      "CaseResultResponse": {
        "properties": {
          "case_id": {
            "type": "string",
            "title": "Case Id"
          },
          "state": {
            "$ref": "#/components/schemas/PublicCaseState",
            "default": "completed"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "report": {
            "additionalProperties": true,
            "type": "object",
            "title": "Report",
            "default": {}
          },
          "property_score": {
            "additionalProperties": true,
            "type": "object",
            "title": "Property Score",
            "default": {}
          },
          "report_generated_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Report Generated At"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata"
          }
        },
        "type": "object",
        "required": [
          "case_id"
        ],
        "title": "CaseResultResponse"
      },
      "CaseStatusResponse": {
        "properties": {
          "case_id": {
            "type": "string",
            "title": "Case Id"
          },
          "state": {
            "$ref": "#/components/schemas/PublicCaseState"
          },
          "internal_status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Internal Status",
            "description": "A finer-grained status behind the public state. When state is awaiting_review, this is what tells you which pause the case is at, so you can call the matching read endpoint: awaiting_document_review, awaiting_documents or awaiting_acknowledgements. Treat any value you do not recognise as 'keep waiting'."
          },
          "progress": {
            "type": "integer",
            "title": "Progress",
            "default": 0
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata"
          }
        },
        "type": "object",
        "required": [
          "case_id",
          "state"
        ],
        "title": "CaseStatusResponse"
      },
      "CompleteUploadRequest": {
        "properties": {
          "objectName": {
            "type": "string",
            "title": "Objectname",
            "description": "The objectName presignUpload returned for this file. It identifies the upload; do not construct one yourself."
          },
          "fileName": {
            "type": "string",
            "title": "Filename"
          },
          "fileSize": {
            "type": "integer",
            "title": "Filesize"
          },
          "contentType": {
            "type": "string",
            "title": "Contenttype"
          },
          "success": {
            "type": "boolean",
            "title": "Success",
            "default": true
          },
          "content_hash": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content Hash"
          },
          "page_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Page Count"
          }
        },
        "type": "object",
        "required": [
          "objectName",
          "fileName",
          "fileSize",
          "contentType"
        ],
        "title": "CompleteUploadRequest"
      },
      "ContinueCaseRequest": {
        "properties": {
          "new_document_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "New Document Ids",
            "default": []
          },
          "proceed_anyway": {
            "type": "boolean",
            "title": "Proceed Anyway",
            "default": false
          },
          "document_annotations": {
            "items": {
              "$ref": "#/components/schemas/DocumentAnnotation"
            },
            "type": "array",
            "title": "Document Annotations",
            "default": []
          },
          "split_document_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Split Document Ids",
            "default": []
          }
        },
        "type": "object",
        "title": "ContinueCaseRequest"
      },
      "CreateCaseRequest": {
        "properties": {
          "purpose": {
            "type": "string",
            "title": "Purpose",
            "default": ""
          },
          "propertyFocus": {
            "additionalProperties": true,
            "type": "object",
            "title": "Propertyfocus",
            "description": "The property the case is about. An object, not a string: at minimum a property type, the state and a free-form property_details bag holding survey number, village, district, house number and anything else the state's portals need."
          },
          "processingType": {
            "type": "string",
            "title": "Processingtype",
            "default": "legal_opinion"
          },
          "documentIds": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Documentids",
            "description": "Document ids from completeUpload. Always an array, even for one document. Each is checked to belong to your key before anything is charged."
          },
          "enableMissingDocumentReview": {
            "type": "boolean",
            "title": "Enablemissingdocumentreview",
            "default": true
          },
          "enableAcknowledgementReview": {
            "type": "boolean",
            "title": "Enableacknowledgementreview",
            "default": true
          },
          "enableDocumentAnalysisReview": {
            "type": "boolean",
            "title": "Enabledocumentanalysisreview",
            "default": true
          },
          "enableAnomalyReview": {
            "type": "boolean",
            "title": "Enableanomalyreview",
            "default": true
          },
          "scenario_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scenario Code"
          },
          "scenario_instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scenario Instructions"
          },
          "case_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Case Name"
          },
          "special_upload_assignments": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Special Upload Assignments"
          },
          "split_document_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Split Document Ids"
          },
          "payment_order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Order Id"
          },
          "credit_source": {
            "type": "string",
            "title": "Credit Source",
            "default": "personal"
          },
          "credit_source_org_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Org Id",
            "description": "Optional. Charge this case to a specific organisation's credit pool instead of the default your key resolves to. The server validates that your key is entitled to that pool; omit it and the right pool is chosen for you."
          },
          "credit_source_branch_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Branch Id",
            "description": "Optional. Charge this case to a specific branch's credit pool. The server validates the branch against your key; omit it and the right pool is chosen for you."
          },
          "vault_property_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vault Property Id",
            "description": "Optional. Attach the case to a property record you already hold with us. The server validates that the record belongs to your key's organisation."
          },
          "recipient_contacts": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Recipient Contacts"
          },
          "custom_field_schema_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Field Schema Ids"
          },
          "custom_field_value_seed": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Field Value Seed"
          },
          "missing_document_seeds": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Missing Document Seeds"
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Your own correlation blob. Stored verbatim and echoed back on status, result and every webhook. Put your reference ids here rather than trying to encode them in other fields."
          },
          "template_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Id",
            "description": "Optional. Render the report with a specific document template. The server validates the template against your key's organisation; omit it and the scenario's template is used."
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Project Id",
            "description": "Optional. File the case under one of your projects. The server validates the project against your key's organisation."
          }
        },
        "type": "object",
        "required": [
          "propertyFocus",
          "documentIds"
        ],
        "title": "CreateCaseRequest"
      },
      "DocumentAnnotation": {
        "properties": {
          "document_type": {
            "type": "string",
            "title": "Document Type"
          },
          "document_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Document Number"
          },
          "ignored": {
            "type": "boolean",
            "title": "Ignored",
            "default": false
          },
          "instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Instructions"
          },
          "slot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slot Id"
          }
        },
        "type": "object",
        "required": [
          "document_type"
        ],
        "title": "DocumentAnnotation"
      },
      "DocumentFieldUpdate": {
        "properties": {
          "document_id": {
            "type": "string",
            "title": "Document Id"
          },
          "field_name": {
            "type": "string",
            "title": "Field Name"
          },
          "new_value": {
            "title": "New Value"
          }
        },
        "type": "object",
        "required": [
          "document_id",
          "field_name",
          "new_value"
        ],
        "title": "DocumentFieldUpdate"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "LinkDocumentsToSlotRequest": {
        "properties": {
          "document_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Document Ids"
          },
          "slot_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slot Id"
          }
        },
        "type": "object",
        "required": [
          "document_ids"
        ],
        "title": "LinkDocumentsToSlotRequest"
      },
      "PresignUploadRequest": {
        "properties": {
          "fileName": {
            "type": "string",
            "title": "Filename"
          },
          "fileSize": {
            "type": "integer",
            "title": "Filesize"
          },
          "contentType": {
            "type": "string",
            "title": "Contenttype",
            "description": "The exact content type you will send on the PUT. It must match, and it must be one of the types we accept."
          }
        },
        "type": "object",
        "required": [
          "fileName",
          "fileSize",
          "contentType"
        ],
        "title": "PresignUploadRequest"
      },
      "PublicCaseState": {
        "type": "string",
        "enum": [
          "queued",
          "running",
          "awaiting_review",
          "completed",
          "failed"
        ],
        "title": "PublicCaseState"
      },
      "SubmitAcknowledgementsRequest": {
        "properties": {
          "acknowledgements": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Acknowledgements",
            "description": "One entry per risk returned by getAcknowledgements. Send each generated item back whole, with a decision of 'accepted', 'rejected' or 'undecided' added, and a bypass_reason recording why. An item sent without a decision acknowledges nothing, so a case can look answered when nothing was decided. Do not set is_bypassed yourself: it is derived from decision, and sending both is rejected when they disagree."
          }
        },
        "type": "object",
        "required": [
          "acknowledgements"
        ],
        "title": "SubmitAcknowledgementsRequest"
      },
      "SubmitDocumentReviewRequest": {
        "properties": {
          "updates": {
            "items": {
              "$ref": "#/components/schemas/DocumentFieldUpdate"
            },
            "type": "array",
            "title": "Updates",
            "default": []
          },
          "proceed_to_searches": {
            "type": "boolean",
            "title": "Proceed To Searches",
            "default": true
          }
        },
        "type": "object",
        "title": "SubmitDocumentReviewRequest"
      },
      "TranslationHistoryItem": {
        "properties": {
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "original_file_name": {
            "type": "string",
            "title": "Original File Name"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages"
          },
          "session_status": {
            "type": "string",
            "title": "Session Status"
          },
          "total_cost": {
            "type": "number",
            "title": "Total Cost"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          }
        },
        "type": "object",
        "required": [
          "session_id",
          "original_file_name",
          "total_pages",
          "session_status",
          "total_cost",
          "created_at"
        ],
        "title": "TranslationHistoryItem"
      },
      "TranslationHistoryResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "translations": {
            "items": {
              "$ref": "#/components/schemas/TranslationHistoryItem"
            },
            "type": "array",
            "title": "Translations"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "limit": {
            "type": "integer",
            "title": "Limit"
          },
          "offset": {
            "type": "integer",
            "title": "Offset"
          }
        },
        "type": "object",
        "required": [
          "success",
          "translations",
          "total",
          "limit",
          "offset"
        ],
        "title": "TranslationHistoryResponse"
      },
      "TranslationStatusResponse": {
        "properties": {
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "session_status": {
            "type": "string",
            "title": "Session Status"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages"
          },
          "pages_completed": {
            "type": "integer",
            "title": "Pages Completed"
          },
          "original_file_name": {
            "type": "string",
            "title": "Original File Name"
          },
          "error_message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Message"
          },
          "created_at": {
            "type": "string",
            "title": "Created At"
          },
          "completed_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completed At"
          }
        },
        "type": "object",
        "required": [
          "session_id",
          "session_status",
          "total_pages",
          "pages_completed",
          "original_file_name",
          "created_at"
        ],
        "title": "TranslationStatusResponse"
      },
      "TranslationSubmitResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "session_id": {
            "type": "string",
            "title": "Session Id"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "total_pages": {
            "type": "integer",
            "title": "Total Pages"
          }
        },
        "type": "object",
        "required": [
          "success",
          "session_id",
          "message",
          "total_pages"
        ],
        "title": "TranslationSubmitResponse"
      },
      "UnifiedRawSearchRequest": {
        "properties": {
          "state": {
            "type": "string",
            "title": "State",
            "description": "State slug, for example 'andhra'. Must be one of the slugs listSearchStates returns."
          },
          "search_type": {
            "type": "string",
            "title": "Search Type",
            "description": "Search type slug, for example 'ec' or 'index2'. Must be one the catalog lists for that state."
          },
          "params": {
            "additionalProperties": true,
            "type": "object",
            "title": "Params",
            "description": "The parameters this state and search type require, validated against the input schema the catalog publishes for that pair."
          },
          "param_labels": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Param Labels",
            "description": "Optional display text for each parameter key, so a saved search can be shown back with names rather than codes."
          },
          "payment_order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Payment Order Id"
          },
          "credit_source": {
            "type": "string",
            "title": "Credit Source",
            "default": "personal"
          },
          "credit_source_org_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Org Id",
            "description": "Optional. Charge this search to a specific organisation's credit pool. The server validates that your key is entitled to that pool; omit it and the right pool is chosen for you."
          },
          "credit_source_branch_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credit Source Branch Id",
            "description": "Optional. Charge this search to a specific branch's credit pool. The server validates the branch against your key; omit it and the right pool is chosen for you."
          },
          "force": {
            "type": "boolean",
            "title": "Force",
            "default": false,
            "description": "Re-run the search rather than reusing a recent identical one. A forced run is charged again."
          }
        },
        "type": "object",
        "required": [
          "state",
          "search_type"
        ],
        "title": "UnifiedRawSearchRequest"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WebhookCreateRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Your HTTPS endpoint. We call it; it is never sent on any other request."
          },
          "events": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Events",
            "description": "The events this endpoint should receive."
          },
          "custom_headers": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Headers",
            "description": "Optional extra headers to send with each delivery, for example a routing header your gateway needs."
          }
        },
        "type": "object",
        "required": [
          "name",
          "url",
          "events"
        ],
        "title": "WebhookCreateRequest"
      },
      "WebhookUpdateRequest": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "events": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Events"
          },
          "custom_headers": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Custom Headers"
          },
          "is_active": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Active"
          }
        },
        "type": "object",
        "title": "WebhookUpdateRequest"
      }
    },
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your LegiScore API key, e.g. `lsk_live_...`."
      },
      "BearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "The same `lsk_` key sent as `Authorization: Bearer lsk_...`."
      }
    }
  }
}
